<div th:fragment="create">
<!--             Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registration Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form th:action="@{/employee/create}" method="post" th:object="${employees}" class="needs-validation" novalidate>           
                    <table>
                        <tr>
                      <div class="form-group">
                          <td><label>Employee Id</label></td>
                          <td><input type="number" name="employeeId" class="form-control" required>
                          <div class="invalid-feedback">
                            This field is required.
                          </div></td>
                      </div>
                    </tr>
                        <tr>
                      <div class="form-group">
                          <td><label>Employee Name</label></td>
                          <td><input type="text" name="employeeName" class="form-control" required>
                          <div class="invalid-feedback">
                            This field is required.
                          </div></td>
                      </div>
                    </tr>
                    <tr>
                      <div class="form-group">
                          <td><label>Birth Date</label></td>
                          <td><input type="date" class="form-control" id="birthDate" placeholder="Project start" name="birthDate" required>
                          <div class="invalid-feedback">
                            This field is required.
                          </div></td>
                      </div>
                    </tr>
                    <tr>
                      <div class="form-group">
                          <td><label>Gender</label></td>
                          <td>
                                  <input type="radio" id="laki-laki" name="gender" value="laki-laki" required>
                                <label for="laki-laki">Laki-laki</label>
                                <input type="radio" id="perempuan" name="gender" value="perempuan">
                                <label for="perempuan">Perempuan</label>
                              <div class="invalid-feedback">
                                This field is required.
                              </div>
                          </td>

                      </div>
                    </tr>
                    <tr>
                      <div class="form-group">
                          <td><label>Email</label></td>
                          <td><input type="text" name="email" class="form-control" required>
                      <div class="invalid-feedback">
                            This field is required.
                          </div>
                          </td>
                      </div>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit" class="btn btn-secondary" onclick='onClickUpdate()'></td>
                      </tr>
                    </table>
                </form>                  
              </div>
<!--                    <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-primary" onclick='onClickUpdate()'>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" onclick="onClickUpdate()">Save changes</button>
                    </div>-->
                    
                  </div>
                </div>
              </div>
</div>

<!--    <div class="modal modal--hiden">
        <div class="modal__contents">
            <div class="modal__close-bar">
                <span>X</span>
            </div>
            <p>New Employee</p>
            <form>
                <label>Employee Id</label>
                <input type="number" name="employeeId" class="form-control" required>
                <button>Submit</button>
            </form>
        </div>
    </div>-->




<!--<form th:action="@{/employee/create}" method="post" th:object="${employees}" class="needs-validation" novalidate>           
    <table>
        <tr>
      <div class="form-group">
          <td><label>Employee Id</label></td>
          <td><input type="number" name="employeeId" class="form-control" required>
          <div class="invalid-feedback">
            This field is required.
          </div></td>
      </div>
    </tr>
        <tr>
      <div class="form-group">
          <td><label>Employee Name</label></td>
          <td><input type="text" name="employeeName" class="form-control" required>
          <div class="invalid-feedback">
            This field is required.
          </div></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
          <td><label>Birth Date</label></td>
          <td><input type="date" class="form-control" id="birthDate" placeholder="Project start" name="birthDate" required>
          <div class="invalid-feedback">
            This field is required.
          </div></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
          <td><label>Gender</label></td>
          <td>
                  <input type="radio" id="laki-laki" name="gender" value="laki-laki" required>
                <label for="laki-laki">Laki-laki</label>
                <input type="radio" id="perempuan" name="gender" value="perempuan">
                <label for="perempuan">Perempuan</label>
              <div class="invalid-feedback">
                This field is required.
              </div>
          </td>

      </div>
    </tr>
    <tr>
      <div class="form-group">
          <td><label>Email</label></td>
          <td><input type="text" name="email" class="form-control" required>
      <div class="invalid-feedback">
            This field is required.
          </div>
          </td>
      </div>
    </tr>
    <tr>
        <td><input type="submit" value="Submit" onclick='onClickUpdate()'></td>
      </tr>
    </table>
</form>-->