<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Dashboard</title>
        <link th:href="@{/css/style2.css}" rel="stylesheet">
        <div th:replace="layout/headerlink :: head-link"></div>
    </head>
<body>
    <!--HEADER NAVBAR-->
    <header> 
        <div th:replace="layout/navbar :: header-app"></div>
    </header>
    
    <!--BODY SIDE-->
    <main>
        <!--SIDEBAR-->
        <div th:replace="layout/sidebar :: sidebar-app"></div>
        
        <!--CONTENT-->
        <div class="d-flex flex-column content">
            <img src="https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/cf7b623f8414e3edc674eacbe49160c8.png">
            
            <!--FOOTER-->
            <div th:replace="layout/footer :: footer-app"></div>
        </div>
    </main>
</body>
</html>
